* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}
.container {
    width: 20rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 21px 2px rgba(0, 0, 0, 0.2);
    color: #6a6a6a;
}
input {
    width: 90%;
    height: 100%;
    outline: unset;
    border: unset;
    font-size: 16px;
    letter-spacing: 1px;
}
.icon {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon:hover{
    color: rgb(10, 10, 250);
}

